{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<main class="about-container">
    <section class="about-card">
        
        <div class="about-header">
            <h1>About Me</h1>
            <div class="underline"></div>
        </div>

        <div class="about-content">
            
            <p class="highlight">
                I am a student at <span>Tashkent State University of Economics</span>.
            </p>

            <p>
                I focus on <strong>Backend Development</strong> with <strong>Python</strong> and enjoy building reliable and scalable web applications. I work with technologies such as <strong>Django</strong>, <strong>REST APIs</strong>, <strong>SQL</strong>, and <strong>Linux</strong>. I also explore <strong>Full-Stack Development</strong> and continuously improve my problem-solving and software development skills through practical projects and daily learning.
            </p>

            <div class="strengths">
                <span class="tag">Discipline</span>
                <span class="tag">Consistency</span>
                <span class="tag">Focus</span>
            </div>

        </div>
    </section>
</main>
{% endblock %}